body {
    background-color: #fdfdfd;
    text-align: center;
    align-items: center;
    margin-left: 23px;
    margin-top: 15px;
}

div table {
    margin: auto;
}

table {
    border-collapse: separate;
    border-spacing: 1px;
    background-color: #909090;
    font-weight: normal;
}

a:link {
    color: #0020a0;
    text-decoration: none;
}

a:visited {
    color: #002050;
    text-decoration: none;
}

a:hover {
    color: #d00000;
    text-decoration: underline;
}

th, td:first-child {
    font-weight: bold;
}

tr {
    text-align: center;
}

tr:first-child {
    background-color: #e0e0e0;
}

tr:nth-child(2n+3) {
    background-color: #d0e5e5;
}

tr:nth-child(2n) {
    background-color: #f8f8f8;
}

.flex_cont {
    display: flex;
    flex: auto;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: stretch;
    margin-left: 72px;
    margin-right: 60px;
}

#logo, #geochart_cont, #provinces_cont, #page_name, #pkw {
    flex-grow: 1;
}

#page_name h1 {
    text-align: right;
}

#year {
    flex-grow: 3;
}

#year h1 {
    font-size: 55px;
    text-align: left;
    color: #b00000;
}

#geochart {
    margin: auto;
    width: 550px;
    height: 340px;
    border:1px solid #909090;
}

#provinces {
    margin-top: 10px;
    width: 85%;
}

#candidates table {
    margin-top: 25px;
    width: 65%;
}

#candidates td:nth-child(2) {
    font-weight: bold;
}

#location {
    margin-bottom: 15px;
    padding-left: 90px;
    border-collapse: separate;
    border-spacing: 0;
    width: 30%;
    background-color: #FFFFFF;
    font-weight: bold;
}

#location tr {
    text-align: left;
    background-color: #FFFFFF;
}

#location td a:link, #location td a:visited {
    color: #dd0000;
    text-decoration: underline;
}

#location td:nth-child(2) {
    color: #dd0000;
}

.background_filler {
    height: 15px;
    background-color: #70a0ad;
}

.background_filler div {
    height: 15px;
    background-color: #f08500;
}

.rel_bar {
    display: flex;
    flex-wrap: nowrap;
    width: 65%;
    background-color: #70a0ad;
    border: 1px solid black;
    border-left: 0;
    border-collapse: separate;
    margin: auto;
}

.cand_bar {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 30px;
    border-left:1px solid black;
}

@media screen and (max-width: 1000px) {
    body {
        background-color: #f4f4da;
        text-align: center;
        align-items: center;
        margin-left: 8px;
        margin-top: 5px;
    }

    .flex_cont {
        display: flex;
        flex: auto;
        flex-wrap: wrap;
        justify-content: center;
        align-items: stretch;
        margin-left: 10px;
        margin-right: 10px;
    }

    #geochart_cont {
        flex-grow: 0;
    }

    #geochart {
        display: none;
    }

    #candidates table {
        margin-top: 10px;
        width: 85%;
    }

    #location {
        margin-bottom: 10px;
        padding-left: 20px;
        border-collapse: separate;
        border-spacing: 0;
        width: 40%;
        background-color: #f4f4da;
        font-weight: bold;
    }

    #location tr {
        text-align: left;
        background-color: #f4f4da;
    }

    #page_name h1 {
        text-align: center;
    }

    #year {
        flex-grow: 1;
    }

    #year h1 {
        font-size: 55px;
        text-align: center;
        color: #b00000;
    }

    .rel_bar {
        display: flex;
        flex-wrap: nowrap;
        width: 85%;
        background-color: #70a0ad;
        border: 1px solid black;
        border-left: 0;
        border-collapse: separate;
        margin: auto;
    }
}

#login {
    margin-right: 100px;
    text-align: right;

}

#login a{
    color: #002050;
}

ul {
    margin-left: 80px;
    text-align: left;
    list-style: none;
}

#login_button {
    margin: auto;
}