<!DOCTYPE html>

{% load static %}
{% load humanize %}

<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Base</title>

    {% block include_css %}

        <link rel="stylesheet"
              href="{% static 'polls/stylesheets/base.css' %}">

    {% endblock %}

    {% block include_js %}

    {% endblock %}

</head>

<body>

    <div class="flex_cont">
        <div id="logo">
            <a href="/">
                <img src="{% static 'polls/img/logo_pkw.png' %}" alt="Logo pkw">
            </a>
        </div>
        <div id="page_name">
            <h1>Wybory Prezydenta<br>
            Rzeczypospolitej Polskiej</h1>
        </div>
        <div id="year">
            <h1>&nbsp;2000</h1>
        </div>
        <div id="pkw">
            <a href="http://pkw.gov.pl/">
                <img src="{% static 'polls/img/logo_kbw.png' %}" alt="Logo kbw">
            </a>
        </div>
    </div>

    {% block body %}
    {% endblock %}

    <br>

    <footer>
        <p>
            Dane dostępne na stronie
            <a href="http://prezydent2000.pkw.gov.pl/wb/wb.html">
            wyborów prezydenckich roku 2000</a>.
        </p>
    </footer>

</body>
</html>
