{% load mathfilters %}

<h2>Statystyki kandydatów na obszarze {{ cand_area }}</h2>

<div id="candidates">
    <form action="/{{ voi_id }}/{{ county_id }}/{{ cons_id }}/votes/" method="post">
    {% csrf_token %}
    <table>
        <tr>
            <th>Poz.</th>
            <th>Kandydat</th>
            <th>Liczba głosów</th>
            <th>Wynik wyborczy</th>
            <th>Procentowy wynik</th>
            {% if cons_id and user.is_authenticated %}
                <th>Nowa wartość</th>
            {% endif %}
        </tr>

        {% for cand in candidates %}
        <tr>
            <td>{{ cand.place }}</td>
            <td>{{ cand.name }}</td>
            <td>{{ cand.votes }}</td>
            <td>
            <div class="background_filler">
                <div style="width:{{ cand.score }}%;"></div>
            </div>
            </td>
            <td>{{ cand.score|floatformat:2 }}%</td>
            {% if cons_id and user.is_authenticated %}
                <td>
                    <input type="text" name="{{ cand.surname }}" id="{{ cand.surname }}" value="{{ cand.votes }}" style="width: 60px"/>
                </td>
            {% endif %}
        </tr>
        {% endfor %}
    </table>
    <br>
    {% if cons_id and user.is_authenticated %}
    <input type="submit" id="votes_button" value="Zmień liczby głosów" />

        {% if wrong %}
            <div style="margin: 1.2em;">
                <span style="color: red;">
                      Podaj prawidłowe, dodatnie liczby głosów.
                </span>
            </div>
        {% endif %}
    {% endif %}
    </form>
</div>
<h4>Relatywne wyniki kandydatów</h4>

<div class="rel_bar">
    {% for cand in candidates %}
    <div class="cand_bar" style="background-color:
        rgb(255, {{ cand.place|mul:"20"|add:"15" }}, 0);
        width: {{ cand.score }}%;">
        {% if cand.score > 2.5 %}<strong>{{ cand.place }}</strong>{% endif %}
    </div>
    {% endfor %}
</div>

<br>