{% extends 'polls/base.html' %}

{% load static %}

{% block include_css %}
    {{ block.super }}
{% endblock %}

{% block include_js %}
    {{ block.super }}

    {% if home == True %}

    <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
        <script type="text/javascript">
            google.charts.load('current', {'packages':['geochart']});
            google.charts.setOnLoadCallback(drawRegionsMap);

            function drawRegionsMap() {
                var data = google.visualization.arrayToDataTable([
                    ['State', 'Frekwencja', 'PageName'],
                    {% for unit in units %}
                    ['{{ unit.name }}', {{ unit.attendance|floatformat:2 }}, '{{ unit.href }}'],
                    {% endfor %}
                ]);

                var options = {
                    region: 'PL',
                    displayMode: 'regions',
                    resolution: 'provinces',
                    colors: ['#E0E0E0','#007070'],
                };

                var view = new google.visualization.DataView(data);
                view.setColumns([0, 1]);

                var chart = new google.visualization.GeoChart(document.getElementById('geochart'));

                google.visualization.events.addListener(chart, 'select', function() {
                    var selected = chart.getSelection()[0].row;
                    var page_name = data.getValue(selected, 2);
                    window.location.href = page_name;
                });

                chart.draw(view, options);
            };
        </script>

        {% endif %}
{% endblock %}

{% block body %}

    <div id="login">
        {% if user.is_authenticated %}
            Cześć, {{ user.username }}!<br>
            <a href="/logout/">Wyloguj</a><br>
        {% else %}
            <a href="/login/">Login</a><br>
            <a href="/register/">Rejestracja</a><br>
        {% endif %}
        <a href="/autocomplete/">Szukaj</a>
    </div>

    {% include "./navigation_helper.html" %}

    {% if cons == False %}
        <h2>Statystyki wyborcze w {{ region_area }}</h2>
    {% endif %}

    {% if home == True %}
        <div class="flex_cont">

            <div id="geochart_cont">
                <div id="geochart"></div>
            </div>

            {% include "./region_statistics.html" %}

        </div>
    {% else %}
        {% include "./region_statistics.html" %}
    {% endif %}

    {% include "./candidates_statistics.html" %}
{% endblock %}
