{% extends 'polls/base.html' %}

{% load static %}

{% block include_css %}
    {{ block.super }}
{% endblock %}

{% block include_js %}
    {{ block.super }}
{% endblock %}

{% block body %}

<div id="back_to_main">
    <a href="/">
        Powrót do strony głównej
    </a>
</div>

<form action="" method="post">
    <h2>Login</h2>
    {% csrf_token %}

    <input type="text" name="username" value="" id="username" placeholder="Login">

    <input type="password" name="password" value="" id="password" placeholder="Hasło">

    <button type="submit" id="login_button">Login</button>

    <br><br>
    <span style="color: red;">
        {{ message }}
    </span>

</form>

{% endblock %}
