<table id="location">
    {% if voi_id %}
    <tr>
        <td>Województwo:</td>
        <td><a href="/{{ voi_id }}">
            {{ voi }}
        </a></td>
    </tr>
    {% endif %}
    {% if county_id %}
    <tr>
        <td>Okręg:</td>
        <td><a href="/{{ voi_id }}/{{ county_id }}">
            {{ county }}
        </a></td>
    </tr>
    {% endif %}
    {% if cons_id %}
    <tr>
        <td>Gmina:</td>
        <td>{{ cons }}</td>
    </tr>
    {% endif %}
</table>