{% extends 'polls/base.html' %}

{% load static %}

{% block include_css %}
    {{ block.super }}
{% endblock %}

{% block include_js %}
    {{ block.super }}
{% endblock %}

{% block body %}

    <div id="back_to_main">
        <a href="/">
            Powrót do strony głównej
        </a>
    </div>

    <h2>Rejestracja</h2>
    <form method="post">
        {% csrf_token %}
        {% for field in form %}
        <p>
            {{ field.label_tag }}<br>
            {{ field }}
            {% for error in field.errors %}
            <p style="color: red">{{ error }}</p>
            {% endfor %}
        </p>
    {% endfor %}
        <button type="submit">Rejestracja</button>
    </form>

{% endblock %}