<div id="provinces_cont">
    <table id="provinces">
        <tr>
            <th>Jednostka</th>
            <th>Głosy ważne</th>
            <th>Głosy nieważne</th>
            <th>Uprawnieni</th>
            <th>Frekwencja</th>
        </tr>

        {% for unit in units %}
        <tr>
            <td>
                {% if cons == False %}
                    <a href="{{ unit.href }}">
                        {{ unit.name }}
                    </a>
                {% else %}
                    {{ unit.name }}
                {% endif %}
            </td>
            <td>{{ unit.legit }}</td>
            <td>{{ unit.spoiled }}</td>
            <td>{{ unit.allowed }}</td>
            <td>{{ unit.attendance|floatformat:2 }}%</td>
        </tr>
        {% endfor %}
    </table>
</div>