{% extends 'polls/base.html' %}

{% load static %}

{% block include_css %}
    {{ block.super }}

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.css">
{% endblock %}

{% block include_js %}
    {{ block.super }}

    <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>

    <script>
        $( function() {
            var availableTags = [
                {% for a in av_tags %}
                    '{{ a }}',
                {% endfor %}
            ];
            $( "#tags" ).autocomplete({
            source: availableTags
            });
        } );
    </script>

{% endblock %}

{% block body %}

    <div id="back_to_main">
        <a href="/">
            Powrót do strony głównej
        </a>
    </div>

    <h2>
        Wyszukiwarka gmin
    </h2>

    <form action="/find/" method="post">
    {% csrf_token %}
        <div class="ui-widget">
            <label for="name">Nazwa: </label>
            <input type="text" id="tags" name="name">
            <input type="submit" value="Wyszukaj">
        </div>
    </form>


    <span style="color: red;">
        {{ message }}
    </span>

{% endblock %}